@media only screen and (max-width: 1516px) {
  .stream-bar {
    width: 40vw;
    top: calc(96%) !important;
    left: calc(42.5% - 9.5vw) !important;
  }
}
@media only screen and (max-width: 1516px) {
  .title-header {
    top: calc(16%) !important;
    left: calc(50% - 12.5vw) !important;
  }

  .title {
    top: calc(30% - 7.5vh) !important;
    left: calc(50% - 15.5vw) !important;
  }

  .stream-bar {
    top: calc(88%) !important;
    left: calc(42.5% - 9.5vw) !important;
  }
}

@media only screen and (max-width: 1414px) {
  .stream-bar {
    top: calc(83%) !important;
    left: calc(40.5% - 9.5vw) !important;
  }
}

@media only screen and (max-width: 1414px) {
  .stream-bar {
    width: 45vw;
  }
}

@media only screen and (max-width: 1200px) {
  .stream-bar {
    width: 47vw;
  }
}

@media only screen and (max-width: 1053px) {
  #solara {
    filter: grayscale(100%) brightness(70%);
    top: calc(-10%) !important;
    left: calc(55.5%) !important;
    z-index: 1;
  }

  .stream-bar {
    width: 17.5vw;
    position: absolute !important;
    top: calc(55%) !important;
    left: calc(50% - 8.75vw) !important;
  }

  .new-title-text-stream {
    max-height: 52px;
    z-index: 15;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 900px) {
  .stream-bar {
    width: 20vw;
    position: absolute !important;
    top: calc(60%) !important;
    left: calc(50% - 8.75vw) !important;
  }

  #handsinface {
    top: calc(2.5%) !important;
    left: calc(32.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(110%);
  }

  #green {
    top: calc(75%) !important;
    left: calc(77%) !important;
    z-index: 10;
    filter: grayscale(100%) brightness(70%);
  }

  #weed {
    top: calc(75%) !important;
    left: calc(12.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(50%);
  }

  #solara {
    top: calc(-5%) !important;
    left: calc(55.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }
}

@media only screen and (max-width: 779px) {
  .stream-bar {
    width: 25vw;
    position: absolute !important;
    top: calc(60%) !important;
    left: calc(50% - 12.5vw) !important;
  }

  #bike {
    top: calc(25%) !important;
    left: calc(5%) !important;
    z-index: 10;
  }

  #handsinface {
    top: calc(7.5%) !important;
    left: calc(32.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(110%);
  }

  #green {
    top: calc(72.5%) !important;
    left: calc(30%) !important;
    z-index: 10;
    filter: grayscale(100%) brightness(70%);
  }

  #weed {
    top: calc(70%) !important;
    left: calc(12.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(50%);
  }

  #nugget {
    top: calc(37.5%) !important;
    left: calc(75%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }

  #solara {
    top: calc(2.5%) !important;
    left: calc(55.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }

  .new-title-text-stream {
    font-size: 45px;
    max-height: 52px;
    z-index: 15;
    padding-bottom: 2vh;
    margin: 0;
  }

  .new-title-text-icons {
    width: 24vw;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
  }
}

@media only screen and (max-width: 615px) {
  .cart {
    padding: 1.25vh 2.75vw 1.25vh 2vw;
    color: grey;
  }

  .icon-icon {
    font-size: 20px !important;
  }

  .title-header {
    min-width: 25vw;

    position: absolute !important;
    top: calc(30%) !important;
    left: calc(50% - 15.5vw) !important;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 190;

    text-align: center;
  }

  .title-text {
    color: white;
    font-family: "Khula", sans-serif;
    font-size: 3.75vh;
    letter-spacing: 2px;
    text-shadow: 0 0 20px white;
    transition: text-shadow 2s ease-in;
    z-index: 190;
    /* animation: glow 2s ease-in-out infinite alternate; */
  }

  .title {
    max-width: 60vw;

    position: absolute !important;
    top: calc(50% - 7.5vh) !important;
    left: calc(50% - 30vw) !important;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 200;
  }

  .title-image {
    max-width: 60vw;
  }

  .stream-bar {
    width: 25vw;
    position: absolute !important;
    top: calc(62.5%) !important;
    left: calc(50% - 12.5vw) !important;
    z-index: 10;
  }

  #bike {
    top: calc(25%) !important;
    left: calc(-7.5%) !important;
    z-index: 10;
  }

  #bike {
    max-width: 30vw;
  }

  #handsinface {
    top: calc(10%) !important;
    left: calc(20%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(110%);
  }

  #handsinface-pic {
    max-width: 20vw;
  }

  #green {
    top: calc(72.5%) !important;
    left: calc(77%) !important;
    z-index: 10;
    filter: grayscale(100%) brightness(70%);
  }

  #green-pic {
    max-width: 30vw;
  }

  #weed {
    top: calc(65%) !important;
    left: calc(7.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(50%);
  }

  #nugget {
    top: calc(37.5%) !important;
    left: calc(87.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }

  #solara {
    top: calc(7.5%) !important;
    left: calc(65.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }

  #solara-pic {
    max-width: 25vw;
  }
}

@media only screen and (max-width: 529px) {
  .stream-bar {
    width: 33vw;
    position: absolute !important;
    top: calc(60.5%) !important;
    left: calc(50% - 16.5vw) !important;
    z-index: 10;
  }

  #bike {
    top: calc(30%) !important;
    left: calc(-15%) !important;
    z-index: 10;
  }

  #bike-pic {
    min-width: 27vw;
  }

  #handsinface {
    top: calc(5.5%) !important;
    left: calc(7.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(110%);
  }

  #handsinface-pic {
    max-width: 30vw;
  }

  #green {
    top: calc(70%) !important;
    left: calc(77%) !important;
    z-index: 10;
    filter: grayscale(100%) brightness(70%);
  }

  #green-pic {
    max-width: 32.5vw;
  }

  #weed {
    top: calc(65%) !important;
    left: calc(0%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(50%);
  }

  #weed-pic {
    max-width: 20vw;
  }

  #nugget-pic {
    min-width: 25vw;
  }

  #solara {
    top: calc(10%) !important;
    left: calc(65.5%) !important;
    z-index: 1;
    filter: grayscale(100%) brightness(70%);
  }

  #solara-pic {
    max-width: 25vw;
  }
}
