body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.nav {
  width: 100%;
  height: 50px;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.92);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.nav-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-split2 {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.icon {
  padding: 1vh 2.5vw 1vh 2vw;
  color: grey;
}

.icon-icon {
  font-size: 25px;
}

.icon-icon2 {
  font-size: 25px;
}

.icon-icon:hover {
  color: white !important;
  text-shadow: 0 0 2px white;
  cursor: pointer;
}

.icon-icon2:hover {
  color: #2a2a2a !important;
  text-shadow: 0 0 1px grey;
  cursor: pointer;
}

#scene {
  background-color: black;
  height: 100vh;

  box-shadow: inset 0 0 200px black;

  margin: auto;
  padding: 0;
}

.title-header {
  min-width: 25vw;

  position: absolute !important;
  top: calc(30%) !important;
  left: calc(50% - 12.5vw) !important;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 190;

  text-align: center;
}

.title-text {
  color: black;
  font-family: "Teko", sans-serif;
  font-size: 3.5vh;
  letter-spacing: 2px;
  text-shadow: 0 0 20px white;
  transition: text-shadow 2s ease-in;
  z-index: 190;
  /* animation: glow 2s ease-in-out infinite alternate; */
}

.title {
  max-width: 35vw;

  position: absolute !important;
  top: calc(50% - 7.5vh) !important;
  left: calc(50% - 17.5vw) !important;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 200;
}

.title-image {
  max-width: 35vw;
}

.title-image-credits {
  max-width: 35vw;
  filter: brightness(10%);
}

.stream-bar {
  width: 15vw;

  position: absolute !important;
  top: calc(70%) !important;
  left: calc(50% - 7.5vw) !important;
}

.stream-bar-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.slide {
  position: absolute !important;
  margin: 0;
  padding: 0;

  filter: grayscale(100%);
}

#bike {
  top: calc(20%) !important;
  left: calc(5%) !important;
  z-index: 10;
}

#handsinface {
  filter: grayscale(100%) brightness(110%);
  top: calc(-2.5%) !important;
  left: calc(32.5%) !important;
  z-index: 1;
}

#green {
  filter: grayscale(100%) brightness(70%);
  top: calc(80%) !important;
  left: calc(30%) !important;
  z-index: 10;
}

#weed {
  /* top: calc(0%) !important;
  left: calc(75%) !important; */
  filter: grayscale(100%) brightness(50%);
  top: calc(80.5%) !important;
  left: calc(12.5%) !important;
  z-index: 1;
}

#nugget {
  filter: grayscale(100%) brightness(70%);
  top: calc(37.5%) !important;
  left: calc(75%) !important;
  z-index: 1;
}

#solara {
  filter: grayscale(100%) brightness(70%);
  top: calc(-15%) !important;
  left: calc(55.5%) !important;
  z-index: 1;
}

#concert {
  filter: grayscale(100%) brightness(50%);
  top: calc(80%) !important;
  left: calc(62.5%) !important;
  z-index: 10;
}

.arrow-down {
  background-image: linear-gradient(transparent, black);

  position: absolute !important;
  top: 90%;
  width: 100vw;
  height: 10vh;
  z-index: 11;

  text-align: center;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 3.5vh;
  text-shadow: 0 0 10px white;
  transition: text-shadow 2s ease-in;

  padding-top: 3vh;
}

.new-single {
  /* background-color: #141414; */
  background-color: #f7f7f7;
  color: white;
  font-size: 20px;

  position: absolute !important;
  top: 100%;
  width: 100vw;
  z-index: 12;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10vh 0 0 0;
}

.new-title-cover {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.new-title {
  width: 40vw;
  min-width: 370px;

  color: #494949;
  font-family: "Khula", Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 7vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.new-title-text-stream {
  max-height: 52px;
  z-index: 15;
  margin-bottom: 10vh;
}

.new-title-text-outnow {
  color: #f7f7f7;
  font-size: 3.5vh;
  max-height: 52px;
  overflow: hidden !important;
  z-index: 16;
}

.new-title-text-icons {
  width: 24vw;
  min-width: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.new-cover {
  width: 40vw;
  min-width: 370px;
  padding: 0 20px;
}

.new-cover-img {
  max-width: 444px;
  min-width: 360px;
  padding: 0 20px;
}

.copyright {
  color: #494949;
  font-family: "Khula", Helvetica, sans-serif;
  font-size: 14px;

  text-align: center;
  z-index: 14;

  padding: 5vh 0;
}

.credits {
  background-image: url("https://iamsu-iwds.s3-us-west-1.amazonaws.com/formlayer.png") !important;
  color: white;
  font-size: 20px;
  width: 100vw;
  height: 10vh;
  z-index: 14;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px transparent;
  }
  to {
    text-shadow: 0 0 5px white;
  }
}
