body {
  background-color: black;
  margin: auto;
  padding: 0;
  /* position: static; */
  width: 100vw;
  height: 100vh;
}

#scene {
  /* position: relative;
  top: calc(50% - 15vh) !important;
  left: calc(50% - 15vw) !important;
  max-width: 30vw;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 200; */
}

.title-image {
  position: relative !important;
  top: calc(50% - 15vh) !important;
  left: calc(50% - 15vw) !important;
  max-width: 30vw;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 200;
}

.title {
  max-width: 30vw;
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
