body {
  background-color: black;
  margin: auto;
  padding: 0;
  /* position: static; */
  width: 100vw;
  height: 100vh;
}

.title-header {
  max-width: 10vw;

  position: relative !important;
  top: calc(40% - 5vh) !important;
  left: calc(50% - 5vw) !important;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 190;

  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  max-width: 30vw;

  position: relative !important;
  top: calc(50% - 15vh) !important;
  left: calc(50% - 15vw) !important;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 200;
}

.title-image {
  max-width: 30vw;
}

.title-footer {
  max-width: 30vw;
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
